<!DOCTYPE html>
<html>
    <head>
        <title>Best Trade - Home</title>
    </head>
    <body>
        <div>
            <h1>Welcome to Best Tradde</h1>
            <h4>Your favorite trading paltform4>
        </div>
        <!--Create another div for the navigation bar-->
        <div>
            <nav>
                <ul>
                    <li><a href="/ui/home">Home</a></li>
                    <li><a href="/ui/about">About</a></li>
                    <li><a href="/ui/Investors">Investors</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>