<!DOCTYPE html>
<html>
    <head>
        <title>Best Trade - Home</title>
    </head>
    <body>
        <div>
            <h1>Welcome to Best Trade</h1>
            <h4> Your favorite trading paltform</h4>
        </div>
        <!--Create another div for the navigation bar-->
        <div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Investors</li>
                </ul>
            </nav>
        </div>
</html>